<!DOCTYPE html>
<html>
  <head>
    <title>Favorites</title>
<!--    <link rel="stylesheet" href="style.css">-->
      <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>

  <body>
    <div class="favorites_page">
    <div class="navbar_favorites">
      <a class="logo_favorites" href="/home">Left on Read</a>
       <a href="/favorites">Favorites</a>
      <a href="/recs">Recommendations</a>
      <a href="/wishlist">Wishlist</a>
      <a class="signout_book" href="/">Sign Out</a>
    </div>
    <div class="title_favorites">
      <h1>Favorites</h1>
    </div>
    <div class="tableSection_favorites">

      <form action = "/deleteFromFaves", method="POST">
        <table id="favoritestable", class="center">
          <thead>
            <tr>
              <th>Title</th>
              <th>Media Type</th>
              <th>Remove From Favorites</th>
            </tr>
          </thead>
          <tbody>
              {% for item in data %}
            <tr>
              <td>{{item.title}}</td>
              <td>{{item.type}}</td>
              <td><input type="checkbox" name="faves_delete" value="{{item.title}}{{item.type}}"></td>
            </tr>
              {% endfor %}
          </tbody>
        </table>
        <input type="submit" value=Submit id="submitButton_fav">
      </form>
    </div>
  </div>
  </body>
</html>