<!DOCTYPE html>
<html>
    <head>
    <title>Left on Read</title>
    </head>
    <body>
        <h1>Left on Read</h1>
        <h3>Welcome {{first_name}}!</h3>
        <a href="/booksearch">Browse Books</a><br>
        <a href="/moviesearch">Browse Movies</a><br>
        <a href="/tvsearch">Browse TV Shows</a><br>
        <a href="/gamesearch">Browse Video Games</a><br>
        <a href="/favorites">View Favorites</a><br>
        <a href="/wishlist">View Wish-List</a><br><br>
        <a href="recs">Generate Recommendations</a><br><br><br>
        <a href="/logout">Log Out</a>
    </body>
</html>