<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./../../style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
        
        <title>Wish List</title>
    </head>
    <body id="homepage">
        <div class="navbar">
            <h1>Wish List</h1>
        </div>
    
        <div class="options">
            <p>Lists books that are on the user's wish-list, will give option to take off wish-list, or add to favorite books</p>
        </div>
        <div class="options">
            <a href = "./../../LORHomePage.html">Homepage</a>
            <a href = "./favorites.html">View Favorites</a>
            <a href = "./recs.html">View Book Recommendations</a>
            <a href = "./booksearch.html">Search Books</a>
            <a href = "">Sign Out</a>
        </div>
    </body>
</html>