<!DOCTYPE html>
<html>
  <head>
    <title>Wishlist</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>

  <body>
    <div class="wish_page">
    <div class="navbar_wish">
      <a class="logo_wish" href="/home">Left on Read</a>
       <a href="/favorites">Favorites</a>
      <a href="/recs">Recommendations</a>
      <a href="/wishlist">Wishlist</a>
      <a class="signout_book" href="/">Sign Out</a>
    </div>
    <div class="title_wish">
      <h1>wishlist</h1>
    </div>
    <div class="tableSection_wish">

      <form action= "/moveFromList", method="POST">
        <table id="wishtable", class="center">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Language</th>
              <th>Year Published</th>
              <th>Publisher</th>
              <th>Num. Pages</th>
              <th>ISBN-13</th>
              <th>Remove From Favorites</th>
              <th>Remove from Wishlist</th>
            </tr>
          </thead>
          <tbody>
              {% for item in data %}
            <tr>
              <td>{{item.title}}</td>
              <td>{{item.authors}}</td>
              <td>{{item.language_code}}</td>
              <td>{{item.publication_date}}</td>
              <td>{{item.publisher}}</td>
              <td>{{item.num_pages}}</td>
              <td>{{item.isbn13}}</td>
              <td><input type="checkbox", id = faves, name="faves" value= "{{item.bookID}}" ></td>
              <td><input type="checkbox", id = wlist, name="remove" value= "{{item.bookID}}" ></td>
            </tr>
              {% endfor %}
          </tbody>
        </table>
        <input type="submit" value=Submit id="submitButton_wish">
      </form>
    </div>
  </div>
  </body>
</html>