<!DOCTYPE html>
<html>
    <head>
    <title>Book Search</title>
    </head>
    <body>
    <style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
    </style>
    <h1>Book Search</h1>
    <form action = "/moveBooks", method="POST">
        <table>
            <thead>
                <tr>
                <th>Book Title</th>
                <th>Author</th>
                <th>Language</th>
                <th>Year Published</th>
                <th>Publisher</th>
                <th>Num. Pages</th>
                <th>Add to Favorites</th>
                <th>Add to Wish-List</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{item.title}}</td>
                    <td>{{item.authors}}</td>
                    <td>{{item.language_code}}</td>
                    <td>{{item.publication_date}}</td>
                    <td>{{item.publisher}}</td>
                    <td>{{item.num_pages}}</td>
                    <td><input type="checkbox", id = faves, name="faves" value= "{{item.bookID}}" ></td>
                    <td><input type="checkbox", id = wlist, name="wlist" value= "{{item.bookID}}" ></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value = Submit>
    </form>
    <p>This page will allow each user to look at the dataset of books, and select ones that he or she have already read, that will be listed as their favorites, will also give user option to add books they have not read to their wish-list</p>
    </body>
</html>